<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ants.weixin.mapper.WxFeedbackMapper">
    
    <resultMap type="WxFeedback" id="WxFeedbackResult">
        <result property="id"    column="id"    />
        <result property="openid"    column="openid"    />
        <result property="feedback"    column="feedback"    />
        <result property="role"    column="role"    />
        <result property="contact"    column="contact"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWxFeedbackVo">
        select id, openid, feedback, role, contact, create_time, create_by, update_time, update_by, remark from wx_feedback
    </sql>

    <select id="selectWxFeedbackList" parameterType="WxFeedback" resultMap="WxFeedbackResult">
        <include refid="selectWxFeedbackVo"/>
        <where>  
            <if test="openid != null  and openid != ''"> and openid = #{openid}</if>
            <if test="feedback != null  and feedback != ''"> and feedback like concat('%', #{feedback}, '%')</if>
            <if test="contact != null  and contact != ''"> and contact like concat('%', #{contact}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>

    <select id="selectWxFeedbackListLimit10" parameterType="WxFeedback" resultMap="WxFeedbackResult">
        <include refid="selectWxFeedbackVo"/>
        WHERE openid = #{openid}
        ORDER BY create_time DESC LIMIT 10
    </select>
    
    <select id="selectWxFeedbackById" parameterType="Long" resultMap="WxFeedbackResult">
        <include refid="selectWxFeedbackVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWxFeedback" parameterType="WxFeedback" useGeneratedKeys="true" keyProperty="id">
        insert into wx_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openid != null">openid,</if>
            <if test="feedback != null">feedback,</if>
            <if test="role != null">role,</if>
            <if test="contact != null">contact,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openid != null">#{openid},</if>
            <if test="feedback != null">#{feedback},</if>
            <if test="role != null">#{role},</if>
            <if test="contact != null">#{contact},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWxFeedback" parameterType="WxFeedback">
        update wx_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="openid != null">openid = #{openid},</if>
            <if test="feedback != null">feedback = #{feedback},</if>
            <if test="role != null">role = #{role},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWxFeedbackById" parameterType="Long">
        delete from wx_feedback where id = #{id}
    </delete>

    <delete id="deleteWxFeedbackByIds" parameterType="String">
        delete from wx_feedback where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>